{
    "env": {
        "production": {
            "plugins": [
                "transform-remove-console"
            ]
        }
    },
    "plugins": [
        "transform-object-rest-spread",
        "transform-runtime"
    ]
}
