# dependencies
node_modules

# logs
npm-debug.log
yarn-error.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# PHP Storm
/.idea

# Service worker
# sw.*

# Stupid mac files
.DS_Store
*/.DS_Store

# No np lock files
/package-lock.json

# Environment variables
.env
.env.local

#  debug logs
/firestore-debug.log

# Firestore hosting cache
/.firebase

# Nightwatch Testing
/chromedriver.log
/tests_output

#VSCode Options
/.vscode/*
!/.vscode/extensions.json

# Cloud Functions & Emulator Stuff
/functions
/ui-debug.log
/firebase-debug.log
/.emulator-data
/emudata

# eslint
/.eslintcache

# DB Migrations Temp
db

# Personal notes
notes
# Supabase
**/supabase/.branches
**/supabase/.temp

# Yarn Cache
.yarn

nohup.out