# dependencies
node_modules

# logs
npm-debug.log
yarn-error.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# PHP Storm
/.idea

# Service worker
sw.*

# Stupid mac files
.DS_Store

# No np lock files
/package-lock.json

# Environment variables
.env

#  debug logs
/firestore-debug.log

# Firestore hosting cache
/.firebase

# Nightwatch Testing
/chromedriver.log
/tests_output
