/**
 * Typography Overrides
 */
#public-layout p {
    font-size: 1.2rem;
}

p {
    margin-bottom: 18px;
}


.v-theme--dark {
    .grayscale {
        filter: grayscale(1) invert(1);
    }
}
.grayscale {
    filter: grayscale(1);
}


// Overrides the currently loaded SVGs to match theme
.v-theme--blue {
    svg path {
        fill: #53AFAC;
    }
}
.v-theme--dark,
.v-theme--darkblue {
    svg path {
        fill: #c5aeef;
    }

}