$btn-font-weight: 600;
$btn-letter-spacing: 0.05em;
$btn-outline-border-width: .125rem;
$card-title-word-break: break-word;
$btn-font-sizes: (
    'x-large': 1.25rem
);

@import '~vuetify/src/styles/styles.sass'